DATA_SOURCE="sheets"
GOOGLE_SHEET_ID="1VAcYTDv_lBKJXNl9SIsRbf9c0pPT39MyGDHxEsVMhuo"
GOOGLE_CLIENT_EMAIL="your-service-account-email@project.iam.gserviceaccount.com"
# Wrap the private key in quotes and use \n for newlines
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYourKeyHere\n-----END PRIVATE KEY-----"

STRIPE_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
